.pp_container {
	padding: 0;
	margin: 0;
}
.pp_container li {
	list-style: none;
}
.pp_node {
	background: url('data:image/gif;base64,R0lGODlhEgASAIABAHJycv///yH5BAEAAAEALAAAAAASABIAAAIejB+Ay6YNU4RvrmoPzpJr/4EduGWldU5ptFLi6LUFADs=') repeat-y;
	margin-left: 18px;
	zoom: 1;
}
.pp_isLast {
	background: url('data:image/gif;base64,R0lGODlhEgASAIABAHJycv///yH5BAEAAAEALAAAAAASABIAAAIYjB+Ay6YNU4RvrmoPzpJr/4HiSJbmiaYFADs=') no-repeat;
}
.pp_isRoot {
	margin-left: 0;
	background: none;
}
.pp_expandOpen .pp_expand {
	background: url('data:image/gif;base64,R0lGODlhEgASAMZFAAAAAHmWwURERDk5OYGcxfz8/Pr6+uLm7P///v7+/e7w84GdxfP09u/x9PX29+ns8Pz8+/79/crT4Pn6+uXo7ufq77rG183V4fDy9MXP3ezu8vHz9e30/tbc5vf3+Ovu8fb3+Obq7+zv8sTO3Ojr79vg6O3v8uPn7cTN3P7+/+Xp7n2axN3i6vj5+YCcxd7j6tzh6ff4+PLz9YGcxPHy9NTb5d/k6/v7+/n5+dLZ5P3+/77J2dXb5b/J2evt8czU4dPa5PT19uTo7cvU4P7+/v////n5+vT199rf6Ort8f///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////yH5BAEAAH8ALAAAAAASABIAAAeFgH+Cg4SFhoeIiYqLiAGOj5ABhwEWPRkXHTYqPg0zkzsjPzwvFEkNQQSTKEM1LEIPCgwxqYYBEkAwJ7AMHga0hQE5JQPEAwIGBQsCy8uCAUgHJCYyIBMFRAuTBxUiGw5GBQlFv4QBIRo0DjgQCQg6LpMfGEctNxEIKRwrk5GRjP8AAxYKBAA7');
}
.pp_expandClosed .pp_expand {
	background: url('data:image/gif;base64,R0lGODlhEgASAMZDAAAAAHmWwURERDk5OYGcxfz8/Pr6+v///uLm7P7+/YGdxfP09u/x9O7w88rT4P79/fHz9brG1/n6+vz8++fq7/Dy9MXP3czU4c3V4e30/tbc5uzu8uXo7vf3+Ovu8fb3+Obq7+zv8sTO3Ojr79vg6O3v8uPn7cTN3P7+/+Xp7n2axICcxYGcxPn5+fj5+ff4+N7j6t3i6tLZ5N/k6/X29+ns8NTb5f3+//v7+/Hy9NXb5b/J2fT1977J2dPa5PT19uvt8drf6P7+/v///9zh6cvU4Ort8fn5+v///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////yH5BAEAAH8ALAAAAAASABIAAAeFgH+Cg4SFhoeIiYqLiAGOj5ABhwEROxYYGjMpQAwskz0iFzowHEYMPwSTJ0U2MQM1DQsvqYYBDj5EJgOxHQa0hQEyJAPEAwIGBQoCy8uCAUEIIyUDHxIFQgqTCBQhEAJHBQlDv4QBIBs5NC0TCQc3K5MeFTwuOA8HKBkqk5GRjP8AAxYKBAA7');
}
.pp_expandLeaf .pp_expand {
	background: url('data:image/gif;base64,R0lGODlhEgASAKECAAAAAHJycv///////yH5BAEAAAAALAAAAAASABIAAAIVhI+py+0Po5xUhjuv3lr1CobiSFYFADs=');
}
.pp_content {
	min-height: 18px;
	margin-left: 18px;
}
* html .pp_content {
	height: 18px;
}
.pp_expand {
	width: 18px;
	height: 18px;
	float: left;
}
.pp_expandOpen .pp_container {
	display: block;
}
.pp_expandClosed .pp_container {
	display: none;
}
.pp_expandOpen .pp_expand, .pp_expandClosed .pp_expand {
	cursor: pointer;
}
.pp_expandLeaf .pp_expand {
	cursor: auto;
}
.pp_wrap {
	font: normal 14.3px/1.4 monospace;
	margin: 0 0 10px 0;
	padding: 5px 10px;
	background: #FFF;
	border: 1px solid #000;
}
.pp_fixed {
	height: 480px;
	width: 640px;
	overflow: auto;
	margin: -240px 0 0 -320px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 9999;
}
.pp_mark {
	padding: 0;
	font-weight: bold;
}
.pp_ctrl {
	font-style: normal;
	cursor: pointer;
}
.pp_ctrlCollapseCh {
	padding: 0 0 0 .1em;
}
.pp_key {
	font-weight: bold;
}
.pp_scope {
	font-style: italic;
}
.pp_scope_public{
	color: #724ADC
}
.pp_scope_private {
	color: red;
}
.pp_scope_protected {
	color: gray;
}
.pp_bool, .pp_null {
	font-style: italic;
	color: #b5b326;
}
.pp_empty {
	font-style: italic;
	color: #aaa;
}
.pp_num {
	color: #19869e;
}
.pp_string {
	color: #555;
}
.pp_resource {
	color: #74169b;
}
.pp_object {
	color: #cc121a;
}
.pp_array {
	color: #121acc;
}
.pp_search {
	margin-right: 1em;
}
.pp_found_in_text {
	background: #38d878;
	font: inherit;
	color: #000;
}
